cache
html
video
node_modules
.idea/*
.project
.buildpath
.externalToolBuilders
.settings

jk.html

.DS_Store
.uini
u.php
up-rewrite.conf
public/js/live.room-LancerComet.js
web.config
npm-debug.log
frontend/test/
